.button-container {
    display: inline-block;
    padding: 10px 25px;
    box-sizing: border-box;
    min-width: 120px;
    cursor: pointer;
    border-radius: 6px;
    border: 2px solid white;
    margin: 0 15px;
    text-align: center;
    color: white;
    transition: all 0.3s;
}

.button-container.button-selected {
    background-color: chartreuse;
    color: blue;
}

.button-container:hover {
    background-color: white;
    color: black;
}